@keyframes swim {
  0% {
    right: -200px;
    bottom: 50px;
    transform: rotate(5deg);
  }
  25% {
    bottom: 70px;
    transform: rotate(-5deg);
  }
  50% {
    bottom: 50px;
    transform: rotate(5deg);
  }
  75% {
    bottom: 70px;
    transform: rotate(-5deg);
  }
  100% {
    right: 100%;
    bottom: 50px;
    transform: rotate(5deg);
  }
}

.animate-swim {
  animation: swim 10s linear infinite;
}